<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Orders Template</title>
  </head>
  <body>
    <h1>Flatiron Widgets: Open Orders</h1>
    <%= yield %>
  </body>
</html>
